<!DOCTYPE html>
<html>
<head>
    <title>ToDo API Client Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
    <div class="" id="app">
        <nav-bar></nav-bar>
        <div class="container">
            <h3>{{tasksTitle}}</h3>

            <task-list></task-list>

            
            
        </div>
        
    </div>

 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

    
    <script type="text/javascript">

        Vue.component('task-item', {

            template: '<li><slot></slot></li>'
        });

         Vue.component('task-list', {

                template: 
                `
                    <div class="taskItem">

                        <div class="col-lg-4 form-group">
                            <ul>
                                <task-item style="margin-top:3px" v-for="task in tasks" v-bind:data="task" v-bind:key="task.id">
                                    {{ task.title }} <button class="btn-danger pull-right btn-xs" @click="deleteTask(task)">x</button>
                                </task-item>

                            </ul>

                            

                            <div class="col-lg-9">
                                <input type="text" class="form-control" placeholder="New Task" v-model="newTask">
                            </div>
                            <button class="btn btn-primary" @click="addTask">Add Task</button>
                        </div>
                    </div>

                `


                ,

                data(){
                    return {
                        tasks: this.getTasks(),
                        newTask:'',
                        nextId:5,
                        loading:false,
                    };
                },
                methods:{
                    addTask(){
                        if(this.newTask){
                            var item = {id:this.nextId, title:this.newTask, description:'', complete:false};
                            this.tasks.push(item)
                            console.log('adding task...')
                            this.apiAddTask(item);
                            this.newTask = '';
                            this.nextId++;
                            
                        }
                    },
                    getTasks(){

                        console.log('getting tasks');
                        axios.get("http://localhost:5000/todo/api/v1.0/tasks",{
                            auth: {
                              username: 'admin',
                              password: 'admin'
                            },
                            
                            crossDomain : true,
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin':'*'
                            }
                        })
                          .then((response)  =>  {
                            this.loading = false;
                            console.log('axios success');
                            console.log(response.data);
                            this.tasks = response.data.tasks

                            //this.jokes = response.data.value;
                          }, (error)  =>  {
                            this.loading = false;
                            console.log('axios failed');
                            console.log(error);
                          })
                    },
                    deleteTask(task){
                        console.log('deleting task...');
                        tasks = this.tasks;
                        console.log(task.id);
                        for(var i = 0; i < tasks.length; i++){
                            if(tasks[i].id == task.id){
                                console.log('found item to delte');
                                
                                this.tasks = tasks.splice(i, 1)
                            }
                        }
                        this.apiDelete(task.id)
                        
                    },
                    apiDelete(id){
                        axios.delete("http://localhost:5000/todo/api/v1.0/tasks/"+id,{
                            auth: {
                              username: 'admin',
                              password: 'admin'
                            },
                            
                            crossDomain : true,
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin':'*'
                            }
                        })
                          .then((response)  =>  {
                            this.loading = false;
                            console.log('axios success');

                            //this.jokes = response.data.value;
                          }, (error)  =>  {
                            this.loading = false;
                            console.log('axios failed');
                            console.log(error);
                          })
                    },
                    apiAddTask(task){

                        console.log('making api call...');
                        console.log(task.title);


                        //axios.defaults.xsrfCookieName = 'csrftoken';
                        //axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                        axios({
                            method: 'post',
                            url: 'http://localhost:5000/todo/api/v1.0/tasks',    
                            data: {
                                title: task.title,
                                description: 'Flintstone',
                                done:'false',
                                
                            },      
                            auth: {
                                username: 'admin',
                                password: 'admin'
                            }, 
                            crossDomain : true,
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin':'*',
                            },

                        })
                        .then((response)  =>  {
                            this.loading = false;
                            console.log('axios success');

                            //this.jokes = response.data.value;
                          }, (error)  =>  {
                            this.loading = false;
                            console.log('axios failed');
                            console.log(error);
                          })



                                                

                    }

            }

                
            });

            Vue.component('nav-bar', {

                template: 
                `
                <div class="navBar">
                    <nav class="navbar navbar-default navbar-static-top">
                      <div class="container">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">ToDo API Client Demo</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            </li>
                          </ul>
                    
                        </div><!--/.nav-collapse -->
                      </div>
                    </nav>
                </div>
                `
            });

            new Vue({
                el: '#app',
                data: {
                    tasksTitle:'To do list:',
                    
                },
                

            });

            

        
    </script>
</body>
</html>